{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>About the Creators</title>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/mysite.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <style type = 'text/css'>
        body{
            background-image: linear-gradient(powderblue, black);
        }
    </style>
</head>

<body>
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="index.html">Home</a>
        <a href="aboutCreators.html">About the Creators</a>
        <a href="ourPortfolio.html">Our Portfolio</a>
    </div>
    <div class="main">
        <h1 style = "margin-top: 2%;margin-bottom: 3%">About the Creators</h1>
        <img src = 'static/img/uma-website.png' height= '40%' width='40%' style = 'margin-right: 2%;margin-bottom:1%;'>
        <img src = 'static/img/lauren-pic.JPG' height= '37%' width='37%' style = 'margin-left: 2%;margin-bottom: 1%;'>
        <p style="height: 22%;margin-right: 2%;width: 40%;color: lightgray;display: inline-flex"> Uma is currently a rising sophomore at the University of Wisconsin-Madison double majoring in Computer Science and Finance based Mathematics. In her free time, Uma enjoys doing yoga, spending time with her family, and drinking coffee.</p>
        <p style="height: 20%;margin-left: 2%;width: 40%;color: lightgray;display: inline-flex;"> Lauren is a rising sophomore at the University of Wisconsin-Madison double majoring in Computer Science and Biology. She is passionate about technology and science, and she enjoys playing tennis, reading, and spending time with friends and family in her free time.</p>
        <br>
        <br>
        <p style="height: 20%;width: 45%;margin-left: 1%;font-weight: bolder;color: lightgray;display: inline-block;"> Uma's Contact Info:</p>
        <p style="height: 20%;width: 45%;font-weight: bolder;color: lightgray;display: inline-block;"> Lauren's Contact Info:</p>
        <br>
        <p style="height: 20%;width: 45%;color: lightgray;display: inline-block;"> Email: parhar@wisc.edu</p>
        <p style="height: 20%;width: 45%;font-weight: bolder;color: lightgray;display: inline-block;"> Email: lferg@wisc.edu</p>
    </div>
</body>

</html>