{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Our Portfolio</title>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/mysite.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sidenav">
        <a href="mysite.html">Home</a>
        <a href="aboutCreators.html">About the Creators</a>
        <a href="ourPortfolio.html">Our Portfolio</a>
    </div>
    <div class="main">
        <h1>Our Portfolio:</h1>
        <a href="converter.html">Binary, Hex, and Decimal Converter</a>
    </div>
</body>

</html>