{% load static %} 
<!DOCTYPE html>
<html>

<head>
    <title>Calculate Calories Burned</title>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/mysite.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body style = "background-image: linear-gradient(#D8BFD8, black);"> 
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="index.html">Home</a> 
        <a href="aboutCreators.html">About the Creators</a>
        <a href="ourPortfolio.html">Our Portfolio</a>
    </div>

    <!-- Page content -->
    <div class="main">
        <h1 style = "margin-top: 2%;margin-bottom: 4%;">Workout Ideas</h1>
        <h2 style = 'font-size: 12; font-weight: bolder;'>This feature is coming soon!</h2>
    </div>

</body>

</html>